/* YOUR CUSTOM STYLES */
.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
	height: 170px;
}

.yellow-text {
	color: #fdd835!important;
}

.card-login{
	width: 40%;
	margin-top: 8%;
	margin-left: 30%;
}

.side-nav .sn-ad-avatar-wrapper p {
	padding-left: 30px;
}

.image-container {
    position: relative;
    border: solid 2px #f5f5f5;
    padding: 10px;
    padding-bottom: 70%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
}

.text-center {
    text-align: center;
}

html,
body,
.header_login,
.view {
		height: 100%;
}
/* Navigation*/

.navbar {
		background-color: transparent;
}

.top-nav-collapse {
		background-color: #5e35b1;
}

@media only screen and (max-width: 768px) {
		.navbar {
				background-color: #5e35b1;
		}
}
/*Intro*/

.view {
		background: url("../img/slide.jpg")no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

@media (max-width: 768px) {
		.full-bg-img,
		.view {
				height: auto;
				position: relative;
		}
}

.description {
		padding-bottom: 3rem;
		color: #fff
}

@media (max-width: 992px) {
		.description {
				padding-top: 7rem;
				text-align: center;
		}
}

.full-bg-img .card {
		background-color: rgba(255, 255, 255, 0.8);
}
footer.page-footer {
		background-color: #7D51C1;
}
